:root {
    /* --primary: #3b3b3b;
    --body: #151515;
    --text: white;
    --text: #222;
    --secondary: grey; */

    --primary: #d9d7df;
    --body: #eee;
    --text: #222;
    --secondary: grey;
    /* --secondary: #311B92;
    --secondaryTransparent: #311b9256; */


    /* --primary: #fff;
    --secondary: #311B92;
    --secondaryTransparent: #311b9256;
    --body: #eee; */

}